<nav class="navbar navbar-light bg-light shadow-sm">
	<div class="container-fluid">
		<div class="navbar-header d-flex justify-content-between align-items-center">
			<a class="navbar-brand" href="#">
				<b class="logo-icon">
					<img src="../../assets/logo.png" alt="logo">
				</b>
				<!-- <span>Autos</span> -->
			</a>
			<a class="sidebar-toggle" href="#">
				<img src="../../assets/collapseClose.png" alt="close">
				<!-- <img src="../../assets/collapseIcon.png" alt="open"> -->
			</a>
		</div>
		<div class="navbar-nav">
			<a class="nav-link" href="#">
				<i class="fas fa-user-plus"></i>

			</a>
		</div>
	</div>
</nav>