<div class="dashboard">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="main_header mt-4">
					<div class="card rounded-0">
						<div class="card-body">
							<img src="../../../assets/dashboard-car.png" alt="car">
						</div>
					</div>
					<div class="card loan_card">
						<div class="card-body">
							<h5 class="card-title">Do you want to apply for loan?</h5>

							<a href="#" class="btn btn-light rounded-pill">Apply Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="used_car my-5">
					<div class="row">
						<div class="col-lg-4">
							<div class="card">
								<img src="../../../assets/cars_thumb.png" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">New & Used Card</h5>
									<p class="card-text">Starting from</p>
									<strong>$800 &#8726;<span>mo</span></strong><br>
									<a href="#" class="btn btn-sm btn-dark rounded-pill mt-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card">
								<img src="../../../assets/loan_thumb.png" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Funds Facilities</h5>
									<p class="card-text">Starting from</p>
									<strong>$800 &#8726;<span>mo</span></strong><br>
									<a href="#" class="btn  btn-sm btn-dark rounded-pill mt-3">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card">
								<img src="../../../assets/calculator_thumb.png" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Loan Calculator</h5>
									<p class="card-text">Starting from</p>
									<strong>$800 &#8726;<span>mo</span></strong><br>
									<a href="#" class="btn  btn-sm btn-dark rounded-pill mt-3">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>