<aside class="left-sidebar shadow-sm">
	<nav class="sidebar-nav">
		<ul id="sidebar-nav">
			<li>
				<a class="sidebar-item" href="#">
					<i class="fas fa-th-large"></i>
					<span class="hide-menu">Dashboard</span>
				</a>
			</li>
			<li>
				<a class="sidebar-item" href="#">
					<i class="fas fa-calculator"></i>
					<span class="hide-menu">Loan Calculartor</span>
				</a>
			</li>
			<li>
				<a class="sidebar-item" href="#">
					<i class="far fa-chart-bar"></i>
					<span class="hide-menu">Quotes</span>
				</a>
			</li>
			<li>
				<a class="sidebar-item" href="#">
					<i class="fas fa-exchange-alt"></i>
					<span class="hide-menu">Dealer Locator</span>
				</a>
			</li>
			<li>
				<a class="sidebar-item" href="#">
					<i class="fas fa-cog"></i>
					<span class="hide-menu">Help</span>
				</a>
			</li>
		</ul>
	</nav>
</aside>